/* 
================================================
autosuggest, inquisitor style
================================================
*/

body
{
	position: relative;
}


div.autosuggest
{
	position: absolute; 
    z-index: 99999999;
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.autosuggest div.as_footer
{
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-position: top left;
	background-repeat: no-repeat;
}
div.autosuggest div.as_footer div.as_corner
{
}
div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 6px;
	overflow: hidden;
}


div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ccdef3;
}

div.autosuggest ul li
{
	color: #000;
	padding: 0;
	margin: 4px 4px;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #000;
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #B80000;
    border-radius: 6px;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #999;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #000;
}

div.autosuggest ul li.as_highlight a
{
	color: #000;
	background-color: #B80000;
    border-radius: 6px;
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.autosuggest ul li.as_highlight a span
{
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}

div.autosuggest ul li.as_warning
{
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul li.as_highlight em
{
    color: #fff;
}
div.autosuggest ul em
{
	font-style: normal;
	color: #B80000;
}

div.autosuggest ul li:nth-child(odd)    
{
     background-color:#f7f7f7!important; 
}

div.autosuggest ul li:nth-child(even)    
{
    background-color:#fff!important; 
}

div.autosuggest ul li.as_highlight a:hover
{   background-color: #B8000000 !important;
    color: #000 !important;
}
